
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>
<fieldset>
    <div class="display-label">Mã Loại:@Html.Encode(Model.maloai)</div>
    <div class="display-label">Mã Loại:@Html.Encode(Model.tenloai)</div>
</fieldset>
@using (Html.BeginForm())
            {
                <p>
                    <input type="submit" value="Delete" />
                    @Html.ActionLink("Back To List","Index")
                </p>
            }